Repository easifem/classes, pull requests merged in 2024-01, with the labels that each got.

#363 Updates AXPY in AbstractNodeField_Class
  src/modules/AbstractNodeField/src/AbstractNodeField_Class.F90
  src/submodules/AbstractNodeField/src/AbstractNodeField_Class@BlasMethods.F90
Labels: enhancement, field, node-field

#365 Updates in AbstractLinSolver_Class
  src/submodules/AbstractLinSolver/src/AbstractLinSolver_Class@ImportTomlMethods.F90
Labels: bug, linear-solver, toml

#367 Updates in RefElement and AbstractFE_Class
  src/modules/RefElement/src/RefElementFactory.F90
  src/submodules/AbstractFE/src/AbstractFE_Class@ConstructorMethods.F90
Labels: refelement, finite-element

#368 Updates WriteData in AbstractNodeField_Class
  src/submodules/AbstractNodeField/src/AbstractNodeField_Class@IOMethods.F90
Labels: enhancement, vtk, node-field

#371 Updates in AbstractKernel
  src/modules/AbstractKernel/CMakeLists.txt
  src/modules/AbstractKernel/src/AbstractKernel_Class.F90
  src/modules/AbstractKernel/src/KernelAssembleBodySource_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleDiffusionMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssemblePointSource_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleSurfaceSource_Method.F90
  src/modules/AbstractKernel/src/KernelUtility.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@ApplyICMethods.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@AssembleTanmatMethods.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@ImportTomlMethods.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@InitiateFieldsMethods.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@MaterialMethods.F90
Labels: enhancement, kernels

#372 Updates in AbstractKernel_Class
  src/modules/AbstractKernel/CMakeLists.txt
  src/modules/AbstractKernel/src/AbstractKernel_Class.F90
  src/modules/AbstractKernel/src/KernelAssembleBodySource_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleDampingMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleDiffusionMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleElastoDynaMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleMassMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleSTAcousticMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleSTElastoDynaMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleStiffnessMatrix_Method.F90
  src/modules/AbstractKernel/src/KernelAssembleSurfaceSource_Method.F90
  src/modules/AbstractKernel/src/KernelUtility.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@AssembleTanmatMethods.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@ConstructorMethods.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@IOMethods.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@SetMethods.F90
Labels: enhancement, kernels

#373 Updates in AbstractKernel
  src/submodules/AbstractKernel/src/AbstractKernel_Class@SetMethods.F90
Labels: bug

#375 Updates in AbstractKernel
  src/modules/AbstractKernel/CMakeLists.txt
  src/modules/AbstractKernel/src/SDAlgorithms.F90
  src/modules/AbstractKernel/src/VST2Algorithms.F90
Labels: enhancement, kernels

#377 Updates in AbstractKernel
  src/modules/AbstractKernel/CMakeLists.txt
  src/modules/AbstractKernel/src/CSDAlgorithms.F90
  src/modules/AbstractKernel/src/SDAlgorithms.F90
Labels: enhancement, kernels

#386 Updates in CSDAlgorithms
  src/modules/AbstractKernel/src/CSDAlgorithms.F90
Labels: enhancement, kernels

#410 Adding elem data list
  src/modules/AbstractMesh/CMakeLists.txt
  src/modules/AbstractMesh/src/ElemData_Class.F90
  src/modules/AbstractMesh/src/NodeDataBinaryTree_Class.F90
  src/modules/AbstractMesh/src/NodeData_Class.F90
  src/modules/BinaryTree/src/BinaryTree.inc
  src/modules/DynamicMesh/src/DynamicMesh_Class.F90
  src/modules/HDF5File/src/HDF5File_Method.F90
  src/submodules/AbstractMesh/src/AbstractMesh_Class@IOMethods.F90
  src/submodules/DynamicMesh/CMakeLists.txt
  src/submodules/DynamicMesh/src/DynamicMesh_Class@ConstructorMethods.F90
  src/submodules/DynamicMesh/src/DynamicMesh_Class@IOMethods.F90
  src/submodules/Mesh/src/Mesh_Class@IOMethods.F90
Labels: mesh

#411 Adding dynamic mesh
  src/submodules/Mesh/src/Mesh_Class@IOMethods.F90
Labels: mesh

#412 Upadate in mesh class
  src/modules/DynamicMesh/src/DynamicMesh_Class.F90
  src/submodules/DynamicMesh/CMakeLists.txt
  src/submodules/DynamicMesh/src/DynamicMesh_Class@IOMethods.F90
  src/submodules/DynamicMesh/src/DynamicMesh_Class@NodeDataMethods.F90
Labels: mesh

#413 Making node data list
  src/modules/AbstractMesh/CMakeLists.txt
  src/modules/AbstractMesh/src/AbstractMesh_Class.F90
  src/modules/AbstractMesh/src/NodeDataList_Class.F90
  src/modules/AbstractMesh/src/NodeData_Class.F90
  src/modules/DynamicMesh/src/DynamicMesh_Class.F90
  src/modules/Mesh/src/Mesh_Class.F90
  src/submodules/DynamicMesh/src/DynamicMesh_Class@ConstructorMethods.F90
  src/submodules/DynamicMesh/src/DynamicMesh_Class@IOMethods.F90
  src/submodules/DynamicMesh/src/DynamicMesh_Class@NodeDataMethods.F90
Labels: mesh

#417 Updating AbstractMesh_Class import
  src/submodules/AbstractMesh/src/AbstractMesh_Class@IOMethods.F90
Labels: adaptive, mesh

#418 Adding showTime in AbstractMesh
  src/modules/AbstractMesh/src/AbstractMesh_Class.F90
  src/submodules/AbstractBC/src/AbstractBC_Class@IOMethods.F90
  src/submodules/AbstractMesh/src/AbstractMesh_Class@IOMethods.F90
  src/submodules/AbstractMesh/src/AbstractMesh_Class@SetMethods.F90
Labels: adaptive, mesh

#419 Updates in Mesh_Class
  src/submodules/AbstractMesh/src/AbstractMesh_Class@IOMethods.F90
  src/submodules/DynamicMesh/src/DynamicMesh_Class@IOMethods.F90
  src/submodules/Mesh/src/Mesh_Class@IOMethods.F90
Labels: adaptive, mesh

#422 Updating abstract mesh class import
  src/modules/AbstractMesh/src/AbstractMesh_Class.F90
  src/submodules/AbstractBC/src/AbstractBC_Class@IOMethods.F90
  src/submodules/AbstractMesh/src/AbstractMesh_Class@IOMethods.F90
  src/submodules/AbstractMesh/src/AbstractMesh_Class@SetMethods.F90
Labels: adaptive, mesh

#423 Fixing bug in hdf5 file method
  src/modules/HDF5File/src/HDF5File_Method.F90
  src/submodules/AbstractMesh/src/AbstractMesh_Class@IOMethods.F90
  src/submodules/DynamicMesh/src/DynamicMesh_Class@IOMethods.F90
  src/submodules/Mesh/src/Mesh_Class@IOMethods.F90
Labels: mesh

#420 Updates in CPUTime_Class
  src/modules/CPUTime/src/CPUTime_Class.F90
  src/submodules/AbstractKernel/src/AbstractKernel_Class@ConstructorMethods.F90
  src/submodules/CPUTime/src/CPUTime_Class@Methods.F90
Labels: enhancement
